@import './font.css';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: normal;
    margin: 0 auto;
    max-width: 1440px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 20px;
}

.header-title {
    font-family: "Playfair Display";
    font-weight: 500;
    font-size: 86px;
}

.header-nav-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-nav-list {
    list-style-type: none;
    overflow: hidden;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 64px;
}

.header-nav-list a {
    text-decoration: none;
    color: inherit;
}

.header-nav-list a:hover {
    color: black;
}

.header-nav-list a:active {
    color: black;
}

.header-nav-list a:visited {
    color: black;
}

.header-modal-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 50px;
    height: 50px;
    margin: 0;
    color: transparent;
}

.hero {
    background-image: url('../img/inside-weather-Uxqlfigh6oE-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 630px;
}

.hero-content {
    display: flex;
    background: white;
    min-height: 360px;
    min-width: 690px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14px;
}

.hero-subtitle {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 86px;
    line-height: 120%;
}

.hero-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
}

h1 {
    font-family: "Playfair Display";
    font-weight: 600;
    font-size: 86px;
}


.biography {
    padding: 150px 137px;
    min-height: 840px;
    display: flex;
    margin: 0 auto;
}

.biography-img {
    width: 49%;
    height: 840px;
    object-fit: cover;
}

.biography-title {
    width: 12%;
}

.biography-title-text {
    padding: 0 30px;
    writing-mode:vertical-lr;
    transform: rotate(180deg);
    font-family: 'Roboto Regular';
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.02em;
}

.biography-content {
    width: 39%;
    display: flex;
}

.biography-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.biography-name {
    padding-top: 174px;
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 86px;
}

.biography-role {
    padding-top: 35px;
    padding-bottom: 36px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.045em;
    line-height: 1.15em;
}
.biography-quuote-section {
    display: flex;
    flex-direction: column;
    position: relative;
}

.black-rectangle {
    width: 20px;
    height: 6px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}

.biography-blockquote {
    padding-top: 25px;
    font-family: 'Bitter-Regular';
    font-weight: 400;
    font-size: 26px;
    word-spacing: -0.13em;
}

.designers {
    padding: 0px 20px 20px;
}

.designers-title {
    font-family: 'Roboto Regular';
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 28px;
    padding-left: 120px;
}
.designers-list {
    display: grid;
    grid-template-columns: 572px repeat(3, 335px);
    gap: 22px;
    overflow-x: auto;
    align-items: end;;
}

.designer-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.designer-card-text {
    font-family: 'Roboto Regular';
    font-size: 16px;
    padding: 22px 0 0 0;
}

.designer-card-text p {
    margin: 0;
}

.text-padding {
    padding-left: 240px;
}

.designer-card-text .name {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0em;
}

.testimonials {
    padding: 115px 0 0 35px;
}

.testimonials-conteiner {
    display: grid;
    padding: 0 120px;
    grid-template-columns: 
        minmax(50px, 7%)
        minmax(50px, 39%)
        minmax(50px, 3%)
        minmax(50px, 41%);
    gap: 20px;
    align-items: start;
}

.col-1.vertical-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 400px;
    padding-top: 100px;
    position: relative;
    overflow: visible;
}

.vertical-link {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: rotate(-90deg);
    transform-origin: left top;
    position: absolute;
    left: 0;
    white-space: nowrap;
    padding: 45px 0;
    width: 100vh;
    height: auto;
    text-align: right;
    font-family: 'Roboto Regular';
    font-weight: 700;
    font-size: 16px;
}

.vertical-link:nth-child(1) {
    top: 205px; /* Первая ссылка */
}

.vertical-link:nth-child(2) {
    top: calc(170px + 33vh); /* Вторая ссылка со смещением */
}

.vertical-link:nth-child(3) {
    top: calc(140px + 66vh); /* Третья ссылка со смещением */
}

.col-2.image-column {
    width: 100%;
}

.main-image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.section-title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    display: flex;
    font-family: 'Roboto Regular';
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.001em
}

.col-4.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 0;
}

.testimonials-text {
    font-family: 'Bitter-Regular';
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.001em
}

.aside-image-wrapper {
    padding: 40px;
}

.strengths-list {
    font-family: 'Bitter-Regular';
    font-size: 32px;
}

.footer {
    min-height: 168px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.footer-contacts-item {
    font-family: 'Roboto Regular';
    font-size: 16px;
    line-height: 26px;
    color: white;
}

.footer-text {
    font-family: 'Roboto Regular';
    font-size: 16px;
    padding: 0 20px;
}