@import './font.css';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: normal;
    margin: 0 auto;
    max-width: 1440px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 20px;
}

.header-title {
    font-family: "Playfair Display";
    font-weight: 600;
    font-size: 86px;
}

.header-nav-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-nav-list {
    list-style-type: none;
    overflow: hidden;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 54px;
}

.header-nav-list a {
    text-decoration: none;
    color: inherit;
}

.header-nav-list a:hover {
    color: black;
}

.header-nav-list a:active {
    color: black;
}

.header-nav-list a:visited {
    color: black;
}

.header-modal-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 50px;
    height: 50px;
    margin: 0;
    color: transparent;
}

.hero {
    background-image: url('../img/inside-weather-Uxqlfigh6oE-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 630px;
}

.hero-content {
    display: flex;
    background: white;
    min-height: 360px;
    min-width: 690px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14px;
}

.hero-subtitle {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 86px;
    line-height: 120%;
}

.hero-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
}

h1 {
    font-family: "Playfair Display";
    font-weight: 600;
    font-size: 86px;
}

h2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
}

.biography {
    padding: 150px 137px;
    min-height: 840px;
    display: flex;
    margin: 0 auto;
}

.biography-img {
    width: 49%;
    height: auto;
    object-fit: cover;
}

.biography-title {
    width: 12%;
}

.biography-title-text {
    margin: 0 30px;
    transform: rotate(-90deg) translate(-138%);
    transform-origin: left top;
}

.biography-content {
    width: 39%;
    display: flex;
}

.biography-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.biography-name {
    padding-top: 174px;
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 86px;
}

.biography-role {
    padding-top: 38px;
    padding-bottom: 36px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.0002em;
    line-height: 1.15em;
}
.biography-quuote-section {
    display: flex;
    flex-direction: column;
    position: relative;
}

.black-rectangle {
    width: 20px;
    height: 6px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}

.biography-blockquote {
    padding-top: 22px;
    font-family: 'Bitter-Regular';
    font-weight: 500;
    font-size: 26px;
    word-spacing: -0.13em;
}

.desiigner-card-info {
    font-family: 'Roboto Regular';
    font-size: 16px;
}

.testimonials-link {
    font-family: 'Roboto Regular';
    font-size: 16px;
}

.testimonials-text {
    font-family: 'Bitter-Regular';
    font-size: 32px;
}

.strengths-list {
    font-family: 'Bitter-Regular';
    font-size: 32px;
}

.footer {
    min-height: 168px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.footer-contacts-item {
    font-family: 'Roboto Regular';
    font-size: 16px;
    line-height: 26px;
    color: white;
}

.footer-text {
    font-family: 'Roboto Regular';
    font-size: 16px;
    padding: 0 20px;
}