@import './font.css';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: normal;
    max-width: 1440px;
    min-width: 880px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-title {
    font-family: "Playfair Display";
    font-weight: 600;
    font-size: 86px;
}

/* .header-nav {
} */

.header-nav-list {
    list-style-type: none;
    overflow: hidden;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    display: flex;
    gap: 60px;
}

.hero {
    display: flex;
    background: #ded4ca;
    justify-content: center;
    align-items: center;
    min-height: 630px;
}
.hero-content {
    display: flex;
    background: white;
    min-height: 360px;
    min-width: 630px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-subtitle {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 86px;
    line-height: 120%;
}

.hero-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
}

h1 {
    font-family: "Playfair Display";
    font-weight: 600;
    font-size: 86px;
}

h2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
}

blockquote {
    font-family: 'Bitter-Regular';
    font-size: 26px;
}

.biography-name {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 86px;
}

.biography-role {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
}

.desiigner-card-info {
    font-family: 'Roboto Regular';
    font-size: 16px;
}

.testimonials-link {
    font-family: 'Roboto Regular';
    font-size: 16px;
}

.testimonials-text {
    font-family: 'Bitter-Regular';
    font-size: 32px;
}

.strengths-list {
    font-family: 'Bitter-Regular';
    font-size: 32px;
}

.footer {
    min-height: 168px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.footer-contacts-item {
    font-family: 'Roboto Regular';
    font-size: 16px;
    line-height: 26px;
    color: white;
}

.footer-text {
    font-family: 'Roboto Regular';
    font-size: 16px;
    padding: 0 20px;
}

